.document_list_container {
  transition: all 1000ms;
}

.document_list_container:hover {
  color: inherit;
  background-color: #d1d1d1;
  cursor: pointer;
}

@media (max-width: 550px) {
  .display__container {
    display: none;
  }
}

@media (max-width: 768px) {
  .display__container {
    display: none;
  }
}
