@media (min-width:550px) {
    .box__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width:768px) {
    .box__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width:1024px) {
    .box__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width:1200) {
    .box__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}